In [1]:
import arcpy
import requests
import os
from zipfile import ZipFile
import json
import pandas as pd

In [2]:
# Define local directory
local_directory = r"E:\coursework\ARCGISI\LAB1\data"
# Create the local directory if it doesn't exist
if not os.path.exists(local_directory):
    os.makedirs(local_directory)
    
arcpy.env.workspace = r"E:\coursework\ARCGISI\LAB1\data"

In [3]:
def get_shpdata(url, local_directory):
    response = requests.get(url)
    file_name = os.path.join(local_directory, url.split("/")[-1])

    with open(file_name, "wb") as f:
        f.write(response.content)
        
    with ZipFile(file_name, "r") as zip_ref:
        zip_ref.extractall(local_directory)

In [4]:
def get_csv(url, local_directory, file_name):
    response = requests.get(url)
    file_name = os.path.join(local_directory,file_name)

    with open(file_name, "wb") as f:
        f.write(response.content)

## Minnesota Geospatial Commons (Shp)

In [5]:
city_url = r"https://resources.gisdata.mn.gov/pub/gdrs/data/pub/us_mn_state_metc/bdry_census2020counties_ctus/shp_bdry_census2020counties_ctus.zip"

#extract data
get_shpdata(city_url,local_directory)

In [6]:
#transform data coordinate
#make sure the spatial reference system is 4326
sr = arcpy.SpatialReference(4326) # WGS 1984
arcpy.management.Project("Census2020CTUs", r"CTU_reproject.shp", sr)

## Google Place (Json)

In [7]:
api_key = 'AIzaSyCwycvzY-O4PnjUn2n0OMEHUeXuWSon1U8'

place_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

location = str(44.9740) + "%2C" + str(-93.2354)  # Replace with your desired coordinates
radius = '100000'  # Define the search radius in meters
place_type = ''
keyword = 'restaurant'  # Replace with your desired keyword

url = f'{place_url}location={location}&radius={radius}&type={place_type}&keyword={keyword}&key={api_key}'

response = requests.get(url)
restaurant_json = response.json()['results']

In [8]:
restaurant_json[0]

{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 44.78988529999999, 'lng': -93.2343807}, 'viewport': {'northeast': {'lat': 44.79129047989272, 'lng': -93.23306847010727}, 'southwest': {'lat': 44.78859082010727, 'lng': -93.23576812989272}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png', 'icon_background_color': '#FF9E67', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/restaurant_pinlet', 'name': "J's Restaurant", 'opening_hours': {'open_now': False}, 'photos': [{'height': 1960, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111176633490881370814">Todd Garber</a>'], 'photo_reference': 'ATJ83zhMFTdMAIuoU_G4u4MeGNqzKgfqdC-qETx3AQJRXOdF2swkJljEGHHf90-_XyeaHr8hCHzUXMzbj4hU2-r6vUy-L8Q1iu3m28Q3EakHCKUCh8xLSqOhEef2hbOsP5uUjyG50YwUCt6iLwjS-YCpsFAAg3UhsWpNo7F06Rmq_UFNoZPO', 'width': 4032}], 'place_id': 'ChIJlQ1mkD4w9ocRw7aF9AaOBO4', 'plus_code': {'compound_code': 'QQQ8+X6 Burnsville, Minnesota', 'global_code': '86P8QQQ8+X6'}, 'price_level': 1, 'rating': 4.6, 'reference': 'ChIJlQ1mkD4w9ocRw7aF9AaOBO4', 'scope': 'GOOGLE', 'types': ['restaurant', 'food', 'point_of_interest', 'establishment'], 'user_ratings_total': 567, 'vicinity': '2913 Cliff Rd E #3303, Burnsville'}

In [9]:
#transform geojason as dataframe
restaurant_df = pd.DataFrame.from_records(restaurant_json)

restaurant_col = [ "name", "geometry", "price_level", "rating", "opening_hours"]

restaurant_df = restaurant_df[restaurant_col]

restaurant_df['lat'] = restaurant_df["geometry"].apply(lambda x: dict(x)['location']['lat'])
restaurant_df['lon'] = restaurant_df["geometry"].apply(lambda x: dict(x)['location']['lng'])
restaurant_df['opening_hours'] = restaurant_df["opening_hours"].apply(lambda x: dict(x)['open_now'])

In [10]:
restaurant_df.head()

                              name  ...        lon
0                   J's Restaurant  ... -93.234381
1  Olive Garden Italian Restaurant  ... -93.272053
2     La Casita Mexican Restaurant  ... -93.271365
3    Mañana Salvadorian Restaurant  ... -93.067155
4            North Pole Restaurant  ... -93.000161

[5 rows x 7 columns]

In [11]:
sr = arcpy.SpatialReference(4326) # WGS 1984

# create a new feature class
arcpy.CreateFeatureclass_management(arcpy.env.workspace, "restaurant", "POINT",spatial_reference=sr)

# add fields to the feature class
arcpy.AddField_management(r"restaurant.shp", "name", "Text")
arcpy.AddField_management(r"restaurant.shp", "Latitude", "Double")
arcpy.AddField_management(r"restaurant.shp", "Longitude", 'Double')
arcpy.AddField_management(r"restaurant.shp", "price", "Short")
arcpy.AddField_management(r"restaurant.shp", "rating", 'Double')
arcpy.AddField_management(r"restaurant.shp", "open", "Short")


# insert data into the feature class
cursor = arcpy.da.InsertCursor("restaurant.shp", ["SHAPE@", "name", "Latitude",'Longitude','price','rating','open'])
for index,row in restaurant_df.iterrows():
    point = arcpy.Point(row[6], row[5])
    cursor.insertRow([point, row[0], row[5],row[6], row[2],row[3], row[4]])
del cursor

In [12]:
#spatial join
arcpy.analysis.SpatialJoin("restaurant.shp", "CTU_reproject.shp", r"restaurant_CTU", "JOIN_ONE_TO_ONE", "KEEP_ALL")

#dbf tp excel to df
arcpy.TableToExcel_conversion('restaurant_CTU.dbf', 'restaurant_CTU.xls')
joined_table = pd.read_excel(os.path.join(local_directory,'restaurant_CTU.xls'))

joined_table.head()

   FID  Join_Count  TARGET_FID  ...  FIVE_COLOR    Shape_Leng    Shape_Area
0    0           1           0  ...           5  38183.174136  6.987527e+07
1    1           1           1  ...           3  35697.070116  6.036627e+07
2    2           1           2  ...           3  35697.070116  6.036627e+07
3    3           1           3  ...           3  60764.160102  1.449867e+08
4    4           1           4  ...           4  16600.480567  1.005475e+07

[5 rows x 19 columns]

## NDAWN (CSV)

In [13]:
ndawn_url = 'https://ndawn.ndsu.nodak.edu/table.csv?'

station = '78'
variable = 'ddavt'  
year = '2023'
ttype = 'daily'
begin_date = '2023-09-01'
end_date = '2023-10-09'

url = f'{ndawn_url}station={station}&variable={variable}&year={year}&ttype={ttype}&quick_pick=&begin_date={begin_date}&end_date={end_date}'

get_csv(url,local_directory,'ndawn.csv')

In [14]:
csv_path = os.path.join(local_directory,'ndawn.csv')
ndawn_df = pd.read_csv(csv_path,header=3, skiprows=[4])

In [15]:
ndawn_df.head()

  Station Name  Latitude  Longitude  ...  Day  Avg Temp  Avg Temp Flag
0          Ada  47.32119  -96.51406  ...    1    77.720            NaN
1          Ada  47.32119  -96.51406  ...    2    74.552            NaN
2          Ada  47.32119  -96.51406  ...    3    80.348            NaN
3          Ada  47.32119  -96.51406  ...    4    80.321            NaN
4          Ada  47.32119  -96.51406  ...    5    69.386            NaN

[5 rows x 9 columns]