In [18]:
import arcpy
import requests
import os
from zipfile import ZipFile
import json
import pandas as pd
import datetime

In [19]:
# Define local directory
local_directory = r"E:\coursework\ARCGISI\Lab3\data"
# Create the local directory if it doesn't exist
if not os.path.exists(local_directory):
    os.makedirs(local_directory)
    
arcpy.env.workspace = r"E:\coursework\ARCGISI\Lab3\data"

In [34]:
def get_csv(url, local_directory, file_name):
    response = requests.get(url)
    file_name = os.path.join(local_directory,file_name)

    with open(file_name, "wb") as f:
        f.write(response.content)

## Part II

### Get Data

In [32]:
#real-time
year = str(datetime.datetime.now().year)
begin_date = datetime.datetime.today().strftime('%Y-%m-%d')
end_date = datetime.datetime.today()- datetime.timedelta(30)
end_date = end_date.strftime('%Y-%m-%d')

'2023-11-28'

In [41]:
url = f'https://ndawn.ndsu.nodak.edu/table.csv?station=78&station=111&station=98&station=162&station=174&station=142&station=164&station=138&station=161&station=9&station=160&station=159&station=10&station=118&station=56&station=165&station=11&station=12&station=58&station=13&station=84&station=55&station=179&station=7&station=186&station=87&station=14&station=15&station=96&station=191&station=16&station=201&station=137&station=124&station=143&station=17&station=85&station=140&station=134&station=18&station=136&station=65&station=104&station=99&station=192&station=19&station=129&station=20&station=101&station=166&station=178&station=81&station=21&station=97&station=22&station=75&station=184&station=2&station=172&station=139&station=158&station=23&station=157&station=62&station=86&station=24&station=89&station=126&station=167&station=93&station=183&station=90&station=25&station=83&station=107&station=156&station=77&station=26&station=155&station=70&station=127&station=144&station=27&station=173&station=132&station=28&station=195&station=185&station=29&station=30&station=154&station=31&station=187&station=102&station=32&station=119&station=4&station=80&station=33&station=59&station=153&station=105&station=82&station=34&station=198&station=72&station=135&station=35&station=76&station=120&station=141&station=109&station=36&station=79&station=193&station=71&station=37&station=38&station=189&station=39&station=130&station=73&station=188&station=40&station=41&station=54&station=69&station=194&station=145&station=113&station=128&station=42&station=43&station=103&station=171&station=116&station=196&station=88&station=114&station=3&station=163&station=200&station=64&station=115&station=168&station=67&station=175&station=146&station=170&station=197&station=44&station=133&station=106&station=100&station=121&station=45&station=46&station=61&station=66&station=181&station=74&station=60&station=199&station=125&station=176&station=177&station=8&station=180&station=204&station=47&station=122&station=108&station=5&station=152&station=48&station=151&station=147&station=68&station=169&station=49&station=50&station=91&station=182&station=117&station=63&station=150&station=51&station=6&station=52&station=92&station=112&station=131&station=123&station=95&station=53&station=203&station=190&station=57&station=149&station=148&station=202&station=110&variable=ddmxt&variable=ddmnt&variable=ddavt&year={year}&ttype=daily&quick_pick=30_d&begin_date={begin_date}&end_date={end_date}'

In [ ]:
https://ndawn.ndsu.nodak.edu/table.csv?station=78&station=111&station=98&station=162&station=174&station=142&station=164&station=138&station=161&station=9&station=160&station=159&station=10&station=118&station=56&station=165&station=11&station=12&station=58&station=13&station=84&station=55&station=179&station=7&station=186&station=87&station=14&station=15&station=96&station=191&station=16&station=201&station=137&station=124&station=143&station=17&station=85&station=140&station=134&station=18&station=136&station=65&station=104&station=99&station=192&station=19&station=129&station=20&station=101&station=166&station=178&station=81&station=21&station=97&station=22&station=75&station=184&station=2&station=172&station=139&station=158&station=23&station=157&station=62&station=86&station=24&station=89&station=126&station=167&station=93&station=183&station=90&station=25&station=83&station=107&station=156&station=77&station=26&station=155&station=70&station=127&station=144&station=27&station=173&station=132&station=28&station=195&station=185&station=29&station=30&station=154&station=31&station=187&station=102&station=32&station=119&station=4&station=80&station=33&station=59&station=153&station=105&station=82&station=34&station=198&station=72&station=135&station=35&station=76&station=120&station=141&station=109&station=36&station=79&station=193&station=71&station=37&station=38&station=189&station=39&station=130&station=73&station=188&station=40&station=41&station=54&station=69&station=194&station=145&station=113&station=128&station=42&station=43&station=103&station=171&station=116&station=196&station=88&station=114&station=3&station=163&station=200&station=64&station=115&station=168&station=67&station=175&station=146&station=170&station=197&station=44&station=133&station=106&station=100&station=121&station=45&station=46&station=61&station=66&station=181&station=74&station=60&station=199&station=125&station=176&station=177&station=8&station=180&station=204&station=47&station=122&station=108&station=5&station=152&station=48&station=151&station=147&station=68&station=169&station=49&station=50&station=91&station=182&station=117&station=63&station=150&station=51&station=6&station=52&station=92&station=112&station=131&station=123&station=95&station=53&station=203&station=190&station=57&station=149&station=148&station=202&station=110&variable=ddmxt&variable=ddmnt&variable=ddavt&year=2023&ttype=daily&quick_pick=&begin_date=2023-10-29&end_date=2023-11-28

In [44]:
get_csv(url,local_directory,'ndawn.csv')
csv_path = os.path.join(local_directory,'ndawn.csv')
ndawn_df = pd.read_csv(csv_path,header=3, skiprows=[4])
ndawn_df.head()

  Station Name  Latitude  Longitude  ...  Min Temp Flag  Avg Temp  Avg Temp Flag
0          Ada  47.32119  -96.51406  ...            NaN    20.600            NaN
1          Ada  47.32119  -96.51406  ...            NaN    24.500            NaN
2          Ada  47.32119  -96.51406  ...            NaN    19.611            NaN
3          Ada  47.32119  -96.51406  ...            NaN    27.535            NaN
4          Ada  47.32119  -96.51406  ...            NaN    28.301            NaN

[5 rows x 13 columns]

In [47]:
# Create Copy of Data with Relevant Columns
columns = ['Station Name', 'Latitude', 'Longitude', 'Max Temp', 'Min Temp', 'Avg Temp']

temp_df = ndawn_df[columns].copy()

# Aggregate Data
agg_functions = {'Latitude':'first', 'Longitude':'first', 'Max Temp':'max', 'Min Temp':'min', 'Avg Temp':'mean'}
temp_df = temp_df.groupby('Station Name').aggregate(agg_functions)

temp_df.to_csv(os.path.join(local_directory,'temp_monthly.csv'))

temp_df.head()

              Latitude  Longitude  Max Temp  Min Temp   Avg Temp
Station Name
Ada           47.32119  -96.51406    55.886    -6.250  29.377967
Adams         48.49988  -98.07588    50.576    -0.076  26.516167
Alamo         48.54652 -103.47186    54.050    -5.998  28.044467
Alexander     47.75056 -103.73358    58.010    -3.640  31.570600
Alvarado      48.24594  -97.02153    54.230    -2.866  28.561800

### Interpolation

In [49]:
temperature = arcpy.management.XYTableToPoint(os.path.join(local_directory,'temp_monthly.csv'), 'temperature', 'Longitude', 'Latitude')

In [52]:
IDW_avg = arcpy.sa.Idw(temperature, 'Avg_Temp')
IDW_avg.save('idw_avg')
        
Kriging_avg = arcpy.sa.Kriging(temperature, 'Avg_Temp', arcpy.sa.KrigingModelOrdinary())
Kriging_avg.save('kriging_avg')
        
Spline_avg = arcpy.sa.Spline(temperature, 'Avg_Temp')
Spline_avg.save("spline_avg")

In [53]:
IDW_max = arcpy.sa.Idw(temperature, 'Max_Temp')
IDW_max.save('idw_max')
        
Kriging_max = arcpy.sa.Kriging(temperature, 'Max_Temp', arcpy.sa.KrigingModelOrdinary())
Kriging_max.save('kriging_max')
        
Spline_max = arcpy.sa.Spline(temperature, 'Max_Temp')
Spline_max.save("spline_max")

In [54]:
IDW_min = arcpy.sa.Idw(temperature, 'Min_Temp')
IDW_min.save('idw_min')
        
Kriging_min = arcpy.sa.Kriging(temperature, 'Min_Temp', arcpy.sa.KrigingModelOrdinary())
Kriging_min.save('kriging_min')
        
Spline_min = arcpy.sa.Spline(temperature, 'Min_Temp')
Spline_min.save("spline_min")